<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Order</title>
    <link rel="stylesheet" th:href="@{/css/addAndEditStyles.css}"/>
</head>
<body>
<div>

    <h1 align="center">New Order</h1>

    <form action="#" th:action="@{/saveOrder}" th:object="${order}" method="post">

        <table id="addOrder">
            <tr>

                <td width="10%" >Product :</td>
                <td>
                    <input type="text" th:field="*{product}"/>
                    <label th:if="${#fields.hasErrors('product')}" th:errors="*{product}" th:class="'error'">Error in
                        Product</label>
                </td>
            </tr>

            <tr>

                <td>Department: </td>
                <td>

                    <select th:field="*{department}">
                        <option id="depoption" th:each="department : ${departments}" th:value="${department}" th:text="${department}">
                            Department
                        </option>
                    </select>
                    <label th:if="${#fields.hasErrors('department')}" th:errors="*{department}" th:class="'error'">Error
                        in Department</label>

                </td>
            </tr>
            <tr>
                <td>Supplier :</td>
                <td>
                    <select th:field="*{supplier}">
                        <option id="supplier" th:each="supplier : ${suppliers}" th:value="${supplier}" th:text="${supplier}">Supplier
                        </option>
                    </select>
                    <label th:if="${#fields.hasErrors('supplier')}" th:errors="*{supplier}" th:class="'error'">Error
                        in Supplier</label>
                </td>
            </tr>
            <tr>
                <td>Status :</td>
                <td>
                    <input type="text" th:field="*{status}"/>
                    <label th:if="${#fields.hasErrors('status')}" th:errors="*{status}" th:class="'error'">Error in
                        Status</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" id="add" value="Add"/>

                </td>
            </tr>

        </table>

    </form>
</div>
</body>
</html>