<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Order </title>

    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/addAndEditStyles.css}"/>
</head>
<body>
<div>

    <h1 align="center">Edit Order</h1>

    <form action="#" th:action="@{/editOrderSave}" th:object="${orderDto}" method="post">
        <input type="hidden" th:value="${id}" th:field="*{id}"/>

        <table id="editOrder">
            <tr>
                <td width="10%">Product :</td>
                <td>
                    <input type="text" th:field="*{product}"/>

                </td>
            </tr>

            <tr>

                <td>Department :</td>
                <td>

                    <select th:field="*{department}">
                        <option id="depoption" th:each="department : ${departments}" th:value="${department}" th:text="${department}">
                            Department
                        </option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>Supplier :</td>
                <td>
                    <select th:field="*{supplier}">
                        <option id="suppoption" th:each="supplier : ${suppliers}" th:value="${supplier}" th:text="${supplier}">Supplier
                        </option>
                    </select>

                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input id="save" type="submit" value="Save Changes"/>

                </td>
            </tr>

        </table>

    </form>
</div>
</body>
</html>