<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Aplication User Roles</title>
    <link rel="stylesheet" th:href="@{/css/tablesStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/buttonsStyle.css}"/>


</head>


<body>
<ul>
    <li>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" id="logout"/>
        </form>

    </li>
    <li><a href="/role/addRole">
        <button name="add" id="newOrder">Add New Role</button>
    </a>
    </li>
    <li><a href="/home">
        <button name="back" id="back">Back</button>
    </a> </li>
</ul>
<br>
<div><h1 align="center"> All Roles</h1></div>
</br>

<form:form>


    <table class="content-table" width="70%" cellpadding="2">

        <thead>
        <tr>
            <th>RoleName</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="role : ${roleList}" >

            <td th:text="${role.role}"></td>


            <td><a th:href="@{'/deleteRole/' + ${role.id}}">
                <button name="delete" id="delete">Delete</button>
            </a></td>


        </tr>
        </tbody>
    </table>
</form:form>
</body>
</html>