<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Orders From All Departments</title>
    <link rel="stylesheet" th:href="@{/css/tablesStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/buttonsStyle.css}"/>


</head>


<body>
<ul>
    <li>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" id="logout"/>
        </form>

    </li>
    <li><a href="/order/addOrder">
        <button name="add" id="newOrder">Add New</button>
    </a>
    </li>
    <li><a href="/home">
        <button name="back" id="back">Back</button>
    </a> </li>
</ul>
<br>
<div><h1 align="center"> All Orders</h1></div>
</br>

<form:form>


    <table class="content-table" width="70%" cellpadding="2">

        <thead>
        <tr>
            <th>Date</th>
            <th>Product</th>
            <th>Department</th>
            <th>Suplier</th>

            <th>Edit</th>
            <th>Delete</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'SOUS-CHEF')">Order</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="order : ${list}" >

            <td th:text="${{#dates.format(order.date, 'dd-MM-yyyy')}}"></td>
            <td th:text="${order.product}"></td>
            <td th:text="${order.department}"></td>
            <td th:text="${order.supplier}"></td>



            <td><a th:href="@{'/order/editOrder/' + ${order.id}}">
                <button name="edit" id="edit">Edit</button>
            </a></td>
            <td><a th:href="@{'/deleteOrder/' + ${order.id}}">
                <button name="delete" id="delete">Delete</button>
            </a></td>

            <td sec:authorize="hasAnyAuthority('ADMIN', 'SOUS-CHEF')"><a>
                <form method="POST" th:action="@{'/delivery/addDelivery/' + ${order.getId()}}">
                    <button type="submit" name="orderButton" id="orderButton" value="value" class="link-button">Order</button>
                </form>
            </a></td>


        </tr>
        </tbody>
    </table>
    <table class="ordered-table">
        <thead>
        <tr>
            <th>Delivery Date</th>
            <th>Product</th>
            <th>Department</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'SOUS-CHEF')">Delete</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="delivery : ${dList}">
            <td th:text="${delivery.deliveryDate}"></td>
            <td th:text="${delivery.productName}"></td>
            <td th:text="${delivery.department}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'SOUS-CHEF')"><a  th:href="@{'/deleteDelivery/' + ${delivery.id}}" >
                <button  name="deleteDelivery" id="deliveryDelete">Delete</button>
            </a></td>
        </tr>
        </tbody>
    </table>

</form:form>
</body>
</html>