<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Order</title>
    <link rel="stylesheet" th:href="@{/css/addAndEditUser.css}"/>
</head>
<body>
<div>

    <h1 align="center">New User</h1>
    <a href="/home">
        <button name="back" id="back">Back</button>
    </a>

    <form action="#" th:action="@{/saveUser}" th:object="${user}" method="post">

        <table id="addUser">

            <tr>

                <td width="10%" >Username :</td>
                <td>
                    <input type="text" th:field="*{username}" minlength="3"/>
                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:class="'error'">Error in
                    Username</label>
                </td>

            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password" th:field="*{password}" minlength="3"/>
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="'error'">Error in
                        Password</label>
                </td>
            </tr>
            <tr>
                <td>Is Active:</td>
                <td>
                    <input type="checkbox" th:field="*{active}"/>
                    <label th:if="${#fields.hasErrors('active')}" th:errors="*{active}" th:class="'error'">Error
                        in Field is Active</label>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" id="add" value="Add"/>
                </td>
            </tr>

        </table>

    </form>


</div>
</body>
</html>